{% extends 'default.html' %}
{% block title %}Вход{% endblock title %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Главная</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
{% endblock nav %}
{% block content %}
    <form style="margin: 50px 35%" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>{{form.as_table}}</table>
    <p><input type="submit" value="Вход"></p>
    <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock content %}
